{% extends "main.html" %} {% block title %} complete {% endblock title %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'styles/registration/registration.css' %}" />

<main>
  <section class="form-section">
    <div class="form-div">
      <div class="reset" data-aos="flip-up" data-aos-duration="1500">
        <div><span class="material-symbols-outlined"> task_alt </span></div>
        <h3>Your Password has been successfully reset!</h3>
        <div><a href="{%url 'login'%}">Login</a></div>
      </div>
    </div>
  </section>
</main>

{%endblock content%}
