.hero-section {
  height: 700px;
  padding-top: 80px;

  .hero-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    .hero-description {
      text-align: center;
      // border: dashed;
      h1 {
        font-size: 2.3em;
        color: var(--primary-color);
      }
      p {
        font-size: 1.3em;
      }
      .hero-a {
        margin-left: 30%;
        margin-top: 50px;
        a {
          display: block;
          font-size: 1.5em;
          background-color: var(--secondary-color);
          width: 40%;
          border: unset;
          border-radius: 5px;
          text-align: center;
          padding: 20px;
          transition: 1s ease;
          color: var(--other-color);
        }
        a:hover {
          background-color: var(--button-hover);
        }
      }
    }

    .hero-img {
      width: 600px;
      height: 600px;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media (max-width: 450px) {
  
}